<div id="modal-faq" class="modal modal--faq"><div><div class="modal-container"><div class="modal-content modal-task container">
  <span class="close"></span>
  <div class="content">
    <h2 class="modal__zag">FAQ</h2>
    {{ "faq"|trans({'%integration_name%': deposit.integration})|raw }}
  </div>
</div></div></div></div>