<a href="{{ home_url | default('') }}">
    {% if is_whitelabel is defined and is_whitelabel == true %}
        {% if logo_url %}
            <img src="{{ logo_url }}" />
        {% else %}
            <svg version="1.1" class="head__logo__home_button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 150 36.4" style="enable-background:new 0 0 150 36.4;" xml:space="preserve">
                    <style type="text/css">
                        .st0{fill:#EDB140;}
                        .st1{enable-background:new    ;}
                        .st2{fill:#FFFFFF;}
                    </style>
                <g>
                    <g>
                        <polygon class="st0" points="18.2,36.4 0,18.2 18.2,0 22.4,4.1 8.3,18.2 22.4,32.3 		"/>
                    </g>
                    <g class="st1">
                        <path class="st2" d="M50.3,3.2h4.4v10.1h11.6V3.2h4.4v24.9h-4.4v-11H54.7v11h-4.4V3.2z"/>
                        <path class="st2" d="M86.6,26h-0.1c-0.8,1.5-2.8,2.6-5.2,2.6c-2.7,0-6.3-1.3-6.3-5.2c0-5,6.3-5.7,11.6-5.7v-0.4
			c0-2.1-1.8-3.1-3.9-3.1c-1.8,0-3.5,0.8-4.6,1.9l-2.2-2.6c1.9-1.8,4.6-2.7,7.1-2.7c6.1,0,7.5,3.7,7.5,7.1v10.3h-3.9V26z M86.5,20.5
			h-0.9c-2.7,0-6.4,0.3-6.4,2.8c0,1.6,1.5,2.1,3,2.1c2.9,0,4.4-1.7,4.4-4.3V20.5z"/>
                        <path class="st2" d="M93.5,25.7l2.5-2.5c0.9,1.2,2.6,2.3,4.5,2.3c1.8,0,3.3-0.5,3.3-2.1c0-1.9-1.8-2.3-3.9-2.3h-1.3v-3h1.3
			c2,0,3.5-0.5,3.5-2.1c0-1.4-1.3-1.9-2.8-1.9c-1.5,0-3.1,0.7-4,1.9l-2.4-2.3c1.4-1.8,3.9-2.9,6.9-2.9c3.9,0,6.6,1.7,6.6,4.6
			c0,2-1.5,3.5-3.4,3.9v0.1c2.2,0.4,3.8,1.9,3.8,4.1c0,3.4-3.4,5.2-7.3,5.2C97.7,28.7,95.2,27.7,93.5,25.7z"/>
                        <path class="st2" d="M122.9,26h-0.1c-0.8,1.5-2.8,2.6-5.2,2.6c-2.7,0-6.3-1.3-6.3-5.2c0-5,6.3-5.7,11.6-5.7v-0.4
			c0-2.1-1.8-3.1-3.9-3.1c-1.8,0-3.5,0.8-4.6,1.9l-2.2-2.6c1.9-1.8,4.6-2.7,7.1-2.7c6.1,0,7.5,3.7,7.5,7.1v10.3h-3.9V26z
			 M122.8,20.5h-0.9c-2.7,0-6.4,0.3-6.4,2.8c0,1.6,1.5,2.1,3,2.1c2.9,0,4.4-1.7,4.4-4.3V20.5z"/>
                        <path class="st2" d="M129.7,24.7h1.8c1.3-1.7,2.4-4.4,2.4-9.1v-4.4h13.7v13.4h2.5V33h-3.6v-4.8h-13.2V33h-3.6V24.7z M143.3,24.7
			V14.6h-5.5v2.1c0,3.9-0.8,6.2-1.9,8H143.3z"/>
                    </g>
                </g>
                    </svg>
        {% endif %}
    {% else %}
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="head__logo__skins_logo" viewBox="0 0 171.1 46.9">
            <style>
                .st0{fill:#FFB901;}
                .st1{fill:#FFD81B;}
                .st2{fill:#FFFFFF;}
            </style>
            <path class="st0" d="M73.9,38.8h27.8l8.9,8.2V0L73.9,38.8z M101.4,31.2h-9.1l9.1-10V31.2z"/>
            <polyline class="st1" points="110.5,28.7 101.4,21.2 110.6,0 110.5,28.7"/>
            <polyline class="st1" points="73.9,38.8 110.6,28.7 101.6,38.8 73.9,38.8"/>
            <path class="st2" d="M128.6,18.9l-0.2,4.9h-0.9c-3.4,0-5.3,1.8-5.3,5.8v4.8h-4.9V19h4.9V22c1.1-1.8,2.8-3.2,5.3-3.2C128,18.8,128.3,18.8,128.6,18.9z"/>
            <path class="st2" d="M145.1,28h-11.3c0.4,1.8,1.7,3,3.3,3c1.1,0,2.5-0.3,3.3-1.8l4.4,0.9c-1.3,3.3-4.1,4.8-7.6,4.8c-4.4,0-8.1-3.3-8.1-8.2c0-4.8,3.7-8.2,8.2-8.2c4.4,0,7.9,3.1,7.9,8.2V28z M133.9,25h6.3c-0.5-1.7-1.7-2.4-3.1-2.4C135.8,22.5,134.4,23.4,133.9,25z"/>
            <path class="st2" d="M163.2,34.4h-4.9v-1.2c-1.2,1.1-2.8,1.7-4.8,1.7c-4.1,0-7.5-3.3-7.5-8.2c0-4.8,3.4-8.2,7.5-8.2c2,0,3.6,0.6,4.8,1.7V19h4.9V34.4z M158.3,26.7c0-2.4-1.8-4-3.8-4c-2.1,0-3.7,1.6-3.7,4c0,2.4,1.6,4,3.7,4C156.5,30.7,158.3,29.1,158.3,26.7z"/>
            <path class="st2" d="M166.2,34.4V12.3h4.9v22.1H166.2z"/>
            <path class="st2" d="M4.8,29.5c0.2,1.3,1.4,1.8,2.7,1.8c1.3,0,2-0.6,2-1.2c0-0.5-0.4-0.9-1.5-1.1l-3.1-0.6c-2.8-0.5-4.5-2-4.5-4.5c0-3.1,2.7-5.2,6.6-5.2c3.8,0,6.4,1.7,7,4.4l-4.5,0.9c-0.2-0.9-1.1-1.8-2.6-1.8c-1.3,0-1.7,0.6-1.7,1.2c0,0.4,0.2,0.9,1.2,1.1l3.6,0.7c2.9,0.6,4.2,2.4,4.2,4.6c0,3.4-2.9,5.2-7,5.2c-3.6,0-6.7-1.3-7.2-4.5L4.8,29.5z"/>
            <path class="st2" d="M26.9,34.5l-5-5.5h-0.9v5.5h-4.9v-22h4.9v11.9h0.7l4.9-5.2h5.9l-6.7,7.3l7.4,8H26.9z"/>
            <path class="st2" d="M39.8,14.6c0,1.6-1.2,2.7-2.8,2.7c-1.7,0-2.8-1.2-2.8-2.7c0-1.5,1.2-2.8,2.8-2.8C38.6,11.8,39.8,13.1,39.8,14.6z M34.5,34.5V19.1h4.9v15.3H34.5z"/>
            <path class="st2" d="M58.1,25v9.4h-4.9v-8.4c0-1.8-1.1-3-2.6-3c-1.9,0-3.2,1.3-3.2,4.3v7.1h-4.9V19.1h4.9v1.5c1.2-1.2,2.8-1.9,4.7-1.9C55.8,18.7,58.1,21.2,58.1,25z"/>
            <path class="st2" d="M64.6,29.5c0.2,1.3,1.4,1.8,2.7,1.8c1.3,0,2-0.6,2-1.2c0-0.5-0.4-0.9-1.5-1.1l-3.1-0.6c-2.8-0.5-4.5-2-4.5-4.5c0-3.1,2.7-5.2,6.6-5.2c3.8,0,6.4,1.7,7,4.4l-4.5,0.9c-0.2-0.9-1.1-1.8-2.6-1.8c-1.3,0-1.7,0.6-1.7,1.2c0,0.4,0.2,0.9,1.2,1.1l3.6,0.7c2.9,0.6,4.2,2.4,4.2,4.6c0,3.4-2.9,5.2-7,5.2c-3.6,0-6.7-1.3-7.2-4.5L64.6,29.5z"/>
        </svg>
    {% endif %}
</a>
