@font-face {
  font-family: 'AvenirNextCyr';
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.otf"); }

@font-face {
  font-family: 'AvenirNextCyr';
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium.otf");
  font-weight: 600; }

@font-face {
  font-family: 'AvenirNextCyr';
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.otf");
  font-weight: bold; }