body {
  padding: 0;
  margin: 0;
  background-color: #191A1C;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.3;
  color: #E4E4E4; }


@media screen and (max-width: 850px) {
  .page-header {
    max-width: 850px; }
    .page-header .page-header__container {
      max-width: 850px; }
  .home__buttons .button {
    margin-top: 5px;
    margin-bottom: 5px; }
  .page-logo {
    padding-top: 3px;
    padding-left: 5px;}
  .side-gradient {
    display: none; }
  .partners {
    display: none; }
  .home__description {
    padding-bottom: 112px !important; }
    .home__description .description-item__caption {
      padding: 0 15px !important; }
  .home__logo-title {
    display: none !important; }
  .row .arrow {
    margin-top: 10px !important; }
  .row__item,
  .box__item {
    margin-top: 5px !important;
    margin-bottom: 5px !important; }
  .login-form-container {
    bottom: -295px !important; }
  .main-form__input {
    width: 270px !important;
  }
  .market-main .skins {
    margin-bottom: 0; }
    .market-main .skins .skins__caption {
      padding: 0 10px; }
    .market-main .skins .main-title {
      margin-top: -20px; }
    .market-main .skins .box {
      flex-wrap: wrap; }
    .market-main .skins .skins__footer {
      padding: 0 10px; }
  .market-main .market {
    display: none; } }

@media screen and (max-width: 625px) {
  .page-header {
    height: 50px !important; }
    .page-header .main-navigation-container {
      margin: 0 auto !important; }
  .home .home__logo {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px; }
  .contacts .main-form-wrapper .main-title--mobile {
    display: block; }
  .main-navigation {
    width: 130px !important;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0; }
  .main-navigation__item:first-of-type {
    display: block; }
  .main-navigation__item:not(:first-of-type) {
    display: none; } }

.page-header {
  position: fixed;
  height: 70px;
  width: 100%;
  background: #26292C;
  z-index: 4; }
  .page-header__container {
    box-sizing: border-box;
    position: relative;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.main-navigation {
  width: 660px;
  padding: 0 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #1a1e21; }
  .main-navigation__item {
    box-sizing: border-box;
    width: 130px;
    height: 70px;
    background: linear-gradient(to bottom, #2d3134 50%, #24282b 50%);
    border: 1px solid #24282b; }
    .main-navigation__item:last-child {
      background: linear-gradient(to bottom, #feb112 50%, #fe9d10 50%);
      border: 1px solid #fe9d10; }
    .main-navigation__item--menu-button {
      width: 135px;
      height: 50px;
      margin-left: -3px;
      display: none;
      background: #26292C url("../images/burger.png") no-repeat;
      background-size: 100px 38px;
      background-position: right center;
      cursor: pointer; }
    .main-navigation__item--close-button {
      width: 135px;
      height: 50px;
      margin-left: -3px;
      display: none;
      background: #26292C url("../images/close.png") no-repeat;
      background-size: 100px 38px;
      background-position: right center;
      cursor: pointer; }
  .main-navigation__link {
    box-sizing: border-box;
    width: 130px;
    height: 70px;
    margin: -1px 0 0 -1px;
    display: block;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    color: #fdfdfd;
    line-height: 70px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 -1px 1px black;
    border: 1px solid transparent; }
    .main-navigation__link--market {
      cursor: pointer; }
    .main-navigation__link--orange {
      text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2) !important;
      cursor: pointer; }
    .main-navigation__link--orange:hover {
      background-image: radial-gradient(rgba(255, 255, 255, 0.4) 0%, transparent 100%), linear-gradient(to bottom, #feb112 55%, #fe9d10 55%) !important;
      border: 1px solid #fe9d10 !important; }
    .main-navigation__link:hover, .main-navigation__link--active {
      text-shadow: none;
      background-image: radial-gradient(rgba(150, 154, 157, 0.69) 0%, transparent 100%), linear-gradient(to bottom, #2d3134 55%, #24282b 55%);
      border: 1px solid #24282b; }

.page-footer {
  padding-top: 100px;
  padding-bottom: 200px; }
  .page-footer--market {
    background-color: #1a1f22; }

.copyright {
  max-width: 800px;
  margin: 0 auto;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: #999999;
  text-align: center; }

.section-wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  z-index: 3; }

.dynamics {
  width: 1120px;
  margin: 60px auto 0;
  display: flex;
  justify-content: space-between; }

.indicator {
  width: 160px;
  height: 480px;
  text-align: center; }
  .indicator__price {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: #FFB901; }
  .indicator__field {
    box-sizing: border-box;
    width: 160px;
    height: 400px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #191E21;
    border: 2px solid #212121; }
    .indicator__field-fill {
      position: relative;
      width: 160px;
      background: url("../images/indicator__fill.png") bottom no-repeat;
      animation: animIndicator400 3s forwards;
      z-index: 2; }
      .indicator__field-fill::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 160px;
        height: 15px;
        border-radius: 4px 4px 0 0;
        box-shadow: 0 -6px 25px 0 rgba(250, 255, 77, 0.5);
        z-index: 1; }
  .indicator__year {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: #ffffff; }
  .indicator:first-of-type .indicator__field .indicator__field-fill {
    animation: animIndicator140 3s forwards; }
  .indicator:nth-of-type(2) .indicator__field .indicator__field-fill {
    animation: animIndicator190 3s forwards; }
  .indicator:nth-of-type(3) .indicator__field .indicator__field-fill {
    animation: animIndicator240 3s forwards; }
  .indicator:nth-of-type(4) .indicator__field .indicator__field-fill {
    animation: animIndicator310 3s forwards; }

@keyframes animIndicator140 {
  from {
    height: 0; }
  to {
    height: 140px; } }

@keyframes animIndicator190 {
  from {
    height: 0; }
  to {
    height: 190px; } }

@keyframes animIndicator240 {
  from {
    height: 0; }
  to {
    height: 240px; } }

@keyframes animIndicator310 {
  from {
    height: 0; }
  to {
    height: 310px; } }

@keyframes animIndicator400 {
  from {
    height: 0; }
  to {
    height: 400px; } }

.main-title {
  margin: 80px 0;
  font-size: 32px;
  color: #FFB901;
  text-transform: uppercase; }
  .main-title--first {
    margin-top: 150px; }
  .main-title__subtitle {
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase; }
  .main-title--with-image {
    margin-bottom: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  .main-title__image {
    margin-left: 8px;
    margin-top: -10px; }
  .main-title--clickable {
    cursor: pointer; }
  .main-title--inactive {
    margin-left: 10px !important;
    margin-right: 10px !important;
    font-size: 18px;
    color: #E4E4E4;
    font-weight: normal;
    line-height: 32px; }
    .main-title--inactive:hover {
      color: #FFB901; }
  .main-title--mobile {
    display: none; }

.contacts .main-title {
  margin: 110px 0 60px; }

.partnership .main-title {
  margin-top: 110px;
  margin-bottom: 75px; }

.faq-page .main-title {
  letter-spacing: 0.07em;
  color: #E4E4E4; }

.skins {
  margin: 115px auto 120px; }
  .skins__caption {
    margin-top: 50px;
    padding: 0 80px;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-align: left; }
  .skins__footer {
    padding: 0 270px;
    font-size: 20px;
    color: #FFB901;
    text-align: center; }
  .skins .arrow {
    margin: 30px auto; }

.box {
  max-width: 912px;
  margin: 50px auto;
  padding: 0 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .box__item {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .box__item-title {
      color: #FFB901;
      text-transform: uppercase; }
  .box--wide {
    max-width: 1075px; }
  .box__item-image {
    margin-bottom: 20px; }
  .box__item-caption {
    font-size: 14px;
    color: #ffffff;
    line-height: 1.4;
    letter-spacing: 0.03em; }
    .box__item-caption span {
      color: #FFB901; }

.skins .box {
  margin: 80px auto;
  flex-wrap: nowrap; }

.box__item-image--1 {
  width: 87px;
  height: 65px;
  background: url("../images/css_sprites.png") -110px -296px; }

.box__item-image--2 {
  width: 87px;
  height: 65px;
  background: url("../images/css_sprites.png") -217px -296px; }

.box__item-image--3 {
  width: 87px;
  height: 65px;
  background: url("../images/css_sprites.png") -324px -296px; }

.box__item-image--4 {
  width: 75px;
  height: 75px;
  background: url("../images/css_sprites.png") -455px -10px; }

.box__item-image--5 {
  width: 75px;
  height: 75px;
  background: url("../images/css_sprites.png") -455px -105px; }

.box__item-image--6 {
  width: 75px;
  height: 75px;
  background: url("../images/css_sprites.png") -455px -200px; }

.box__item-image--7 {
  width: 74px;
  height: 68px;
  background: url("../images/css_sprites.png") -455px -295px; }

.box__item-image--8 {
  width: 74px;
  height: 68px;
  background: url("../images/css_sprites.png") -10px -396px; }

.box__item-image--9 {
  width: 74px;
  height: 68px;
  background: url("../images/css_sprites.png") -104px -396px; }

.box__item-image--market1 {
  width: 95px;
  height: 73px;
  background: url("../images/css_sprites.png") -10px -10px; }

.box__item-image--market2 {
  width: 95px;
  height: 73px;
  background: url("../images/css_sprites.png") -125px -10px; }

.box__item-image--market3 {
  width: 95px;
  height: 73px;
  background: url("../images/css_sprites.png") -10px -103px; }

.box__item-image--market4 {
  width: 95px;
  height: 73px;
  background: url("../images/css_sprites.png") -125px -103px; }

.box__item-image--market4:hover {
  width: 95px;
  height: 73px;
  background: url("../images/css_sprites.png") -240px -10px; }

.box__item-image--market5 {
  width: 95px;
  height: 73px;
  background: url("../images/css_sprites.png") -240px -103px; }

.arrow {
  position: relative;
  width: 50px;
  height: 29px;
  margin: 0 auto;
  cursor: pointer;
  z-index: 3; }
  .arrow--up {
    transform: rotate(180deg); }
  .arrow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    width: 7px;
    height: 37px;
    background: #E4E4E4;
    transform: rotate(-45deg);
    z-index: 1; }
  .arrow::after {
    content: "";
    position: absolute;
    right: 11px;
    bottom: -8px;
    width: 7px;
    height: 37px;
    background: #E4E4E4;
    transform: rotate(45deg);
    z-index: 1; }
  .arrow:hover::before, .arrow:hover::after {
    background: #FF9E00; }
  .arrow a {
    position: relative;
    display: block;
    width: 50px;
    height: 30px;
    font-size: 0;
    z-index: 2; }

.row .arrow {
  margin-top: -35px; }

.market-main {
  display: flex;
  flex-direction: column; }

.market-wrapper {
  background: #1a1f22; }

.button {
  box-sizing: border-box;
  display: inline-block;
  width: 219px;
  height: 50px;
  border: 1px solid #fe9d10;
  border-top-color: #FED288;
  border-bottom-color: #A26401;
  background: linear-gradient(to bottom, #feb112 50%, #fe9d10 50%);
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.06em;
  line-height: 50px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
  vertical-align: middle;
  cursor: pointer; }
  .button:hover {
    background-image: radial-gradient(rgba(255, 255, 255, 0.4) 0%, transparent 100%), linear-gradient(to bottom, #feb112 50%, #fe9d10 50%); }

.home {
  height: 835px;
  padding-top: 60px; }
  .home__logo {
    max-width: 645px;
    margin: 155px auto 20px;
    display: flex;
    flex-direction: column; }
    .home__logo-image-container {
      max-height: 161px;
      align-self: flex-start;
      max-width: 585px; }
    .home__logo-image {
      width: 100%; }
    .home__logo-title {
      display: block;
      width: 300px;
      margin-top: -30px;
      margin-left: 62%;
      font-size: 26px;
      line-height: 30px;
      color: #FFB901;
      text-transform: uppercase;
      text-align: left; }
    .home__logo-subtitle {
      color: #FFFFFF; }
  .home__buttons {
    max-width: 530px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .home__description {
    position: relative;
    max-width: 668px;
    margin: 40px auto;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .home__description-item {
      width: 140px;
      height: 140px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }

.description-item__title {
  padding-top: 10px;
  font-size: 13px;
  color: #FFB901;
  text-align: center;
  text-transform: uppercase; }

.description-item__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 668px;
  display: none;
  text-align: left;
  font-size: 14px;
  color: #ffffff; }

.description-item__image--1 {
  width: 80px;
  height: 80px;
  background: url("../images/css_sprites.png") -10px -196px; }

.home__description-item:first-child:hover .description-item__image--1 {
  width: 80px;
  height: 80px;
  background: url("../images/css_sprites.png") -110px -196px; }

.home__description-item:first-child:hover .description-item__caption--first {
  display: block; }

.description-item__image--2 {
  width: 80px;
  height: 80px;
  background: url("../images/css_sprites.png") -210px -196px; }

.home__description-item:nth-child(2):hover .description-item__image--2 {
  width: 80px;
  height: 80px;
  background: url("../images/css_sprites.png") -355px -10px; }

.home__description-item:nth-child(2):hover .description-item__caption--second {
  display: block; }

.description-item__image--3 {
  width: 80px;
  height: 80px;
  background: url("../images/css_sprites.png") -355px -110px; }

.home__description-item:last-child:hover .description-item__image--3 {
  width: 80px;
  height: 80px;
  background: url("../images/css_sprites.png") -10px -296px; }

.home__description-item:last-child:hover .description-item__caption--third {
  display: block; }

.row {
  padding: 40px 0;
  background: url("../images/row-bg.jpg") repeat; }
  .row .section-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .row__item {
    width: 210px;
    margin: 0 80px; }
    .row__item-image {
      margin-bottom: 15px; }
    .row__item-title {
      text-transform: uppercase;
      color: #FFB901; }
    .row__item-caption {
      font-size: 14px;
      color: #E4E4E4;
      text-align: center;
      line-height: 1.4;
      letter-spacing: 0.03em; }

.contacts {
  background: url("../images/row-bg.jpg") repeat;
  padding: 20px 0 100px; }

.main-form {
  margin: 0 100px 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .main-form-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .main-form__title {
    margin-bottom: 20px;
    align-self: flex-start;
    font-size: 18px;
    color: #FFFFFF; }
  .main-form__input {
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    margin: 10px 0;
    padding: 10px;
    border: none;
    outline: none;
  }
  .main-form__input:invalid {
    box-shadow: none;
  }

  .main-form__input:-moz-submit-invalid {
    box-shadow: none;
  }

  .main-form__input:-moz-ui-invalid {
    box-shadow:none;
  }

.main-form__button {
    width: 175px;
    margin-top: 10px;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif; }

::-webkit-input-placeholder {
  font-family: "";
  font-size: 16px;
  color: #696969;
  text-align: center; }

:-moz-placeholder {
  font-family: "";
  font-size: 16px;
  color: #696969;
  text-align: center; }

::-moz-placeholder {
  font-family: "";
  font-size: 16px;
  color: #696969;
  text-align: center; }

:-ms-input-placeholder {
  font-family: "";
  font-size: 16px;
  color: #696969;
  text-align: center; }

.login-form {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .login-form__input {
    box-sizing: border-box;
    width: 240px;
    height: 40px;
    margin: 5px 0;
    padding: 5px 10px;
    border: none;
    outline: none; }
  .login-form__button {
    width: 175px;
    margin-top: 15px;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
    background: linear-gradient(to bottom, #317A05 50%, #296505 50%);
    border: 1px solid #296505;
    border-top-color: #3ea905;
    border-bottom-color: #1b3605; }
    .login-form__button:hover {
      background-image: radial-gradient(rgba(255, 255, 255, 0.3) 0%, transparent 100%), linear-gradient(to bottom, #317A05 50%, #296505 50%); }
  .login-form-container {
    box-sizing: border-box;
    position: absolute;
    right: 12px;
    width: 263px;
    height: 245px;
    bottom: -245px;
    text-align: center;
    background: #fe9d10; }

.reg-link {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.3;
  color: #000000; }

.partners {
  height: 650px; }
  .partners-container {
    height: 435px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between; }
  .partners .left-col {
    width: 341px;
    margin-left: 100px;
    display: flex;
    flex-direction: column; }
    .partners .left-col__caption {
      font-size: 16px;
      color: #FFFFFF;
      text-align: left; }
      .partners .left-col__caption-item {
        margin-bottom: 20px; }
        .partners .left-col__caption-item--linked {
          text-align: center; }
      .partners .left-col__caption-link {
        font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center; }
    .partners .left-col__logo {
      height: 204px; }
      .partners .left-col__logo-image {
        width: 100%; }
  .partners .right-col {
    width: 590px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    .partners .right-col__toggle {
      width: 450px;
      margin-bottom: 40px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end; }
    .partners .right-col__logos-box {
      width: 565px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .partners .right-col__logos-box-item {
        width: 150px; }
      .partners .right-col__logos-box-image {
        width: 100%;
        opacity: 0.7;
        cursor: pointer; }
        .partners .right-col__logos-box-image--active, .partners .right-col__logos-box-image:hover {
          opacity: 1; }
    .partners .right-col .main-title {
      margin: 0; }

.side-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #111214 0, transparent 20%, transparent 80%, #111214 100%);
  z-index: 2; }

.hidden {
  display: none !important; }

.faq {
  font-size: 16px;
  text-align: left; }

.faq dt {
  color: #f7b718;
  cursor: pointer;
  margin-top: 22px;
  margin-bottom: 22px;
  margin-left: 30px; }

.faq dt.opened {
  color: #7c808f; }

.faq dt.opened:before {
  background: url("../images/faq_arrow_opened.svg") 0 0px no-repeat;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.faq dt:before {
  content: '';
  position: absolute;
  left: 0px;
  margin-top: -2px;
  display: block;
  background: url("../images/faq_arrow_closed.svg") 0 0px no-repeat;
  width: 21px;
  height: 21px; }

.faq dd {
  margin-left: 30px;
  display: none;
  color: #fff; }
  .faq dd .show-sub-dd {
    color: #f7b718;
    text-decoration: underline;
    cursor: pointer; }
    .faq dd .show-sub-dd--active {
      color: rgba(255, 189, 24, 0.86); }

.sub-dd p {
  padding-left: 15px;
  margin: 10px 0;
  font-weight: normal;
  color: #c0c0c0; }

.sub-dd {
  display: none; }

.faq-page {
  min-height: 840px;
  padding-top: 50px;
  background: url("../images/row-bg.jpg") repeat-y; }
