[
	{ rabbit, [
		{ tcp_listeners, [ "0.0.0.0", 5672 ] },
		{ default_pass, <<"RABBITMQ_DEFAULT_PASS">> },
		{ default_user, <<"RABBITMQ_DEFAULT_USER">> },
		{ default_vhost, <<"RABBITMQ_DEFAULT_VHOST">> },
		{ hipe_compile, false }
	] },
	{ rabbitmq_management, [ { listener, [
		{ port, 15672 },
		{ ssl, false }
	] } ] }
].